<h2 class="activity-title"><span class="current-activity">「<%= @activity.title %>」</span>を編集</h2>
<div class="contents">
  <form id="activity_edit_form" action="<%= to(@activity.edit_path) %>" method="post">
    <h3 class="item-title">行き先</h3>
    <div>
      <input name="title" type="text" placeholder="例：水族館" required value="<%= @activity.title %>" class="main-input"/>
    </div>
    <h3 class="item-title">メモ</h3>
    <textarea name="memo" placeholder="エイヒレの本体を見れます" class="main-input"><%= @activity.memo %></textarea>
    <input type="hidden" name="location" value="<%= @activity.location %>" class="js-location-input" />
    <input type="hidden" name="authenticity_token" value="<%= csrf_token %>" />
  </form>
  <% # コメント %>
<h3 class="item-title">地図を追加</h3>
<div>
<form class="js-search-form">
  <label>
    Google マップから検索
  <input type="search" name="address" class="js-address-input main-input">
  </label>
</form>
</div>

<div class="map-view">
  <div class="preview js-map-container">
    <div class="js-map" style="width: 100%; height: 200px; display: none; margin-bottom:10px;"></div>
  </div>
  <button type="button" class="js-delete-location close-btn" <% unless @activity.has_location? %>style="display: none"<% end %>>
    <i class="fa fa-close"></i>
  </button>
</div>
<div>
  <input type="submit" value="保存" form="activity_edit_form" class="primary-btn preserve-btn">
</div>

  <form method="POST" action="<%= @activity.delete_path %>" class="delete-form" onsubmit="return confirm('この行き先を削除しますか？\n一度削除した行き先は取り消せません')">
    <input type="hidden" name="authenticity_token" value="<%= csrf_token %>" />
    <input type="submit" value="この行き先を削除する" class="delete-btn">
  </button>
</div>
