<h2 class="tabi-title"><%= @tabi.title %>→<%= @activity.title %></h2>
<a href="<%= @tabi.path %>">もどる</a>

<%- if @activity.memo -%>
<p class="memo"><%== rich_text(@activity.memo) %></p>
<%- end -%>

<%- if @activity.location -%>
<h3>地図</h3>
<div class="js-map" data-location="<%= @activity.location %>" style="width: 200px; height: 200px"></div>
<%- end -%>

<a href="<%= @activity.edit_path %>">編集</a>

<%- unless @activity.has_any_detail? -%>
  <p>編集して，この行き先に説明や場所を追加すると便利です．</p>
<%- end -%>
