<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="shortcut icon" href="/images/favicon.png">
    <title>
      <%- if @title -%>
        <%= @title %> - 旅のお供
      <%- else -%>
        旅のお供
      <%- end -%>
    </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/style"/>

  </head>
  <body class="page-<%= @page_id %>" data-page-id="<%= @page_id %>">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=200080966784656&version=v2.3";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <header>
      <h1 class="title"><a href="/">
        <img src="/images/logo.svg" alt="旅のお供">
      </a></h1>
      <% if @back_to %>
        <a href="<%= to @back_to %>" class="undo-btn"><i class="fa fa-chevron-left"></i>戻る</a>
      <% end %>
    </header>
    <div class="container">
      <%== yield %>
      <footer>
        <div class="fb-like" data-href="https://tabinootomo.herokuapp.com/" data-width="320" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        <div><small>©行ったり来たり東海道</small></div>
      </footer>
    </div>

    <script type="text/javascript" src="/js/vendors"></script>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script type="text/javascript" src="/js"></script>
  </body>
</html>
