<h2 class="activity-title"><span class="current-activity"><%= @tabi.title %></span>を編集</h2>
<div class="contents">
  <form action="<%= to(@tabi.edit_path) %>" method="post">
    <div>
      <h3 class="item-title">タイトルを編集</h3>
      <input name="title" type="text" placeholder="例：東京スカイツリーの旅" required value="<%= @tabi.title %>" class="main-input"/>
    </div>
    <div>
      <h3 class="item-title">旅の説明</h3>
      <textarea name="memo" placeholder="浅草やスカイツリー、すみだ水族館を巡りたい！" class="main-input" rows="8"><%= @tabi.memo %></textarea>
    </div>
    <h3 class="item-title">アクティビティを並び替え</h3>
    <ul class="sortable js-sortable rearrange-activity">
      <% @tabi.activities.each{|activity| %>
      <li
         class="js-activity"
         data-activity-id="<%= activity.id %>"
         <% if activity.has_location? %>data-location="<%= activity.location %>"<% end %>
         data-title="<%= activity.title %>"
         data-url="<%= @tabi.activity_path(activity) %>"
         >
          <%= activity.title %>
          <i class="fa fa-bars handle js-handle"></i>
          <input type="hidden" name="activity_id[]" value="<%= activity.id %>"/>
        </li>
      <% } %>
    </ul>

    <div>
      <input type="submit" value="保存" class="primary-btn preserve-btn"/>
    </div>
    <input type="hidden" name="authenticity_token" value="<%= csrf_token %>" />
  </form>

  <div class="js-map" style="width: 100%; height: 230px"></div>

  <form method="POST" action="<%= @tabi.delete_path %>" onsubmit="return confirm('この旅を削除しますか？\n一度削除した旅は取り消せません')">
    <input type="hidden" name="authenticity_token" value="<%= csrf_token %>" />
    <input type="submit" value="この旅を削除する" class="delete-btn">
  </button>
</div>
