<h2 class="tabi-title"><%= @tabi.title %></h2>
<div class="contents">
  <div class="edit-btn">
    <a href="<%= @tabi.edit_path %>"><i class="fa fa-pencil"></i>編集する</a>
  </div>
  <div class="main-box">
    <ul class="activity-list">
      <% @tabi.activities.each{|activity| %>
      <li
         class="js-activity"
         data-activity-id="<%= activity.id %>"
         <% if activity.has_location? %>data-location="<%= activity.location %>"<% end %>
         data-title="<%= activity.title %>"
         data-url="<%= @tabi.activity_path(activity) %>"
         >
        <a href="<%= @tabi.activity_path(activity) %>" class="activity-list-link"><%= activity.title %></a>
      </li>
      <% } %>
    </ul>

  <% if @tabi.activities.empty? %>
    <div class="activity-list-empty">
      <p>あなたの「旅」ができました！<br>それでは最初にこの旅の<br>お目当ての場所を追加してみよう！</p>
    </div>
    <% else %>
    <div class="activity-list-empty">
      <p>ほかに行きたい場所はありますか？<br>全てのやりたいことを書いておこう！</p>
    </div>
  <% end %>

    <form method="POST" action="<%= @tabi.append_activity_path %>" class="js-append-new-activity-form add-activity">
      <input name="title" type="text" placeholder="例：水族館" required class="add-activity-input" />
      <input type="submit" value="追加" class="add-activity-btn primary-btn"/>
      <input type="hidden" name="authenticity_token" value="<%= csrf_token %>" />
    </form>
  </div>

  <%- if @tabi.has_any_location? -%>
    <div class="js-map" style="width: 100%; height: 230px"></div>
  <%- end -%>

  <div class="share">
    <h4 class="share-title">旅が完成したら、友達に送ろう！</h4>
    <span>
      <script type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411" ></script>
      <script type="text/javascript">
        new media_line_me.LineButton({"pc":false,"lang":"ja","type":"e"});
      </script>
    </span>
    <input readonly value="<%= to @tabi.path %>" onclick="select()"/ class="copy-url main-input">
  </div>
</div>
