<h2 class="tabi-title"><%= @tabi.title %></h2>

<a href="<%= @tabi.edit_path %>">編集</a>
<i class="fa fa-pencil"></i>

<div class="activity base-width">
<ul class="activity-list">
  <% @tabi.activities.each{|activity| %>
    <li data-activity-id="<%= activity.id %>"><a href="<%= @tabi.activity_path(activity) %>"><%= activity.title %></a></li>
  <% } %>
</ul>
<form method="POST" action="<%= @tabi.append_activity_path %>" class="js-append-new-activity-form">
  <input name="title" type="text" placeholder="例：水族館" required />
  <input type="submit" value="追加"/>
  <input type="hidden" name="authenticity_token" value="<%= csrf_token %>" />
</form>
</div>
<div>
  <label>
    このURLを友達に送ろう
    <input readonly value="<%= to @tabi.path %>" onclick="select()"/>
  </label>
</div>
