<form action="<%= to(@tabi.edit_path) %>" method="post">
  <h2 class="tabi-title">旅を編集</h2>
  <div>
    <h3 class="item-title">タイトルを編集</h3>
    <input name="title" type="text" placeholder="例：東京スカイツリーの旅" required value="<%= @tabi.title %>" class="main-input"/>
  </div>
  <h3 class="item-title">アクティビティを並び替え</h3>
  <ul class="sortable js-sortable rearrange-activity">
    <% @tabi.activities.each{|activity| %>
      <li data-activity-id="<%= activity.id %>">
        <i class="fa fa-bars handle js-handle"></i>
        <%= activity.title %>
        <input type="hidden" name="activity_id[]" value="<%= activity.id %>"/>
      </li>
    <% } %>
  </ul>

  <div>
    <input type="submit" value="保存" class="primary-btn preserve-btn"/>
  </div>
  <input type="hidden" name="authenticity_token" value="<%= csrf_token %>" />
</form>

<form method="POST" action="<%= @tabi.delete_path %>" onsubmit="return confirm('この旅を削除しますか？\n一度削除した旅は取り消せません')">
  <input type="hidden" name="authenticity_token" value="<%= csrf_token %>" />
  <input type="submit" value="この旅を削除する" class="delete-btn">
</button>
